<%= include src/templates/partials/head.ejs %>
<body>
    <div id="app">
        <section>
                <div class="container mx-auto">
                    <div class="flex flex-wrap -mx-2 overflow-hidden">
                        <div class="my-2 px-2 w-full overflow-hidden">
                            <h1 class="my-4">{{ msg }}</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus, tellus a tincidunt ultrices, orci massa euismod enim, cursus ultrices mi leo et est. Sed vehicula risus eros, id sodales ante tempus at. Quisque euismod felis magna, in placerat enim consectetur nec. Curabitur pharetra, dolor a ullamcorper porta, est felis sagittis eros, ut egestas odio purus ac dolor. Phasellus luctus nec neque eget mattis. Sed diam eros, facilisis ac orci in, mollis porta magna. In id justo lorem. Nam eget elementum lectus. Ut dapibus orci neque, a varius magna convallis ac. Integer lorem metus, consequat eget mauris at, faucibus consequat est. Aliquam erat volutpat.</p>
                        </div>
                        <div class="my-2 px-2 w-full overflow-hidden">
                            <h1 class="my-4">{{ msg }}</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus, tellus a tincidunt ultrices, orci massa euismod enim, cursus ultrices mi leo et est. Sed vehicula risus eros, id sodales ante tempus at. Quisque euismod felis magna, in placerat enim consectetur nec. Curabitur pharetra, dolor a ullamcorper porta, est felis sagittis eros, ut egestas odio purus ac dolor. Phasellus luctus nec neque eget mattis. Sed diam eros, facilisis ac orci in, mollis porta magna. In id justo lorem. Nam eget elementum lectus. Ut dapibus orci neque, a varius magna convallis ac. Integer lorem metus, consequat eget mauris at, faucibus consequat est. Aliquam erat volutpat.</p>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</body>
</html>