html {
    height: 100%;
}

/**
* Text selection background color
*/
::selection {
    background: black;
}
::-moz-selection {
    background: black;
}

body {
    background: $cerulean;
    color: $white;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}